
html {
    font-size: 100%;
    box-sizing: border-box;
}

* , *::before , *::after {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-size: $font_md;
    color: $grayishBlue;
    font-weight: 300;

    &.noScroll{
        overflow: hidden;
    }
    @include breakpoint-up(large){
        font-size: $font_sm;
    }
}

h1,h2,h3{
    margin-top: 0px;
}
a, a:visited , a:hover{
    text-decoration: none;
    
}

.flex{
    display: flex;
    &-jc-sb{
        justify-content: space-between;
    }
    &-jc-c{
        justify-content: center;
    }
    &-ai-c{
        align-items: center;
    }
}

.container{
    max-width: 69.375rem;
    margin:0 auto;
    
    
    
    

    &--pt{
        padding-top: 2.25rem;
    }
    &--pr{
        padding-right: 1.5rem;
    }
    &--pl{
        padding-left: 1.5rem;
    }
    &--pb{
        padding-bottom: 2.25rem;
    }
    &--py{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--px{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &--pall{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
  }

.button, button{
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    cursor: pointer;
    background:linear-gradient(to right,$limeGreen ,$brightCyan );
    border: 0;
    font-weight: 400;
    display: inline-block;
    font-size: $font_sm;
    color: $white;
    &:hover{
        transition: opacity 300ms ease-in-out;
        &:hover {
          opacity: 0.75;
        }

    }
}

//visibility
.hide-for-mobile{
    //hide for mobile or tablets
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktops{
    //hide for desktops
    @include breakpoint-up(large){
        display: none;
    }


}

